/*

=========================================
AYO - RUOK | Security
Official Website Stylesheet
Version : 1.0
Author : Navaniii1415
=========================================

*/

/* ===========================
   GLOBAL STYLES
=========================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: #09090b;
    color: #ffffff;

    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;

}

/* ===========================
   LOGO
=========================== */

.logo{

    display: flex;
    align-items: center;
    gap: 10px;

}

.logo img{

    width: 50px;
    height: 50px;

}

.logo span{

    color: white;

    font-size: 24px;

    font-weight: bold;

}

/* ===========================
   NAVIGATION BAR
=========================== */

.navbar{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 60px;

    position: sticky;

    top: 0;

    background: rgba(15,15,20,0.75);

    backdrop-filter: blur(15px);

    -webkit-backdrop-filter: blur(15px);

    border-bottom: 1px solid rgba(170,0,255,0.35);

}

/* ===========================
   NAVIGATION LINKS
=========================== */

.nav-links{

    display: flex;

    list-style: none;

    gap: 35px;

}

.nav-links a{

    text-decoration: none;

    color: white;

    font-size: 17px;

    transition: 0.3s ease;

}

.nav-links a:hover{

    color: #b84cff;

}
